* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CAA842;
    width: 100vh;
    height: 100vh;
}

.intro--centered-wide-margin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

h1 {
    font-family: 'RIbeye Marrow', serif;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    letter-spacing: .3rem;
}

.quote--left-align-fancy-font {
    font-family: cursive;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    letter-spacing: .1rem;
}