* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #CAA842;
    width: 100vh;
    height: 100vh;
}

.intro--centered-wide-margin {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 60vh;
    margin-left: 20vh;
    margin-right: 20vh;
}

h1 {
    font-family: 'RIbeye Marrow', serif;
    font-size: 48px;
    text-align: center;
    font-weight: 400;
    letter-spacing: .3rem;
}

.box-author {
    display: flex;
    flex-direction: column;
    margin: 5vh 0;
}

.quote--left-align-fancy-font {
    font-family: "Lobster", cursive;
    font-size: 16px;
    text-align: left;
    letter-spacing: .1rem;
}

.author--right--align-spaced-font {
    font-family: "Just Another Hand";
    text-align: right;
    color: white;
    font-size: 20px;
    letter-spacing: 1.5px;
    align-items: end;
    align-content: center;
    justify-content: flex-end;

}

