* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
}
.container {
    position : relative; /*Hace que el footer se adapte a él, ya que lo toma a él como referencia y no a la página*/
    min-height: 100%;
    height: 100%;
}

.header {
    display: flow-root;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}

.logo {
    float: right;
    top: 0%;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 5px;
    margin-top: 15px;
}

.nav {
    float: right;
    bottom: 0%;
    clear: both; /*Para bajar los enlaces debajo del logo.*/
}

.nav ul li {
    display: inline-block; /*Adopta caracteristicas de bloque. Permite que los elementos se comporten como texto.*/
}
.nav ul li a{
    text-decoration: none;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}

.main {
    position: relative; 
    height: 90vh; 
    min-height: 90vh;
    background-color: #f4f4f4;
    /* text-align: center; COMPROBAR  */

}
.main-contenido {
 position: relative;
 width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
    /* padding-top: 35%;
    padding-left: 25%; */
}

main h1 {
    letter-spacing: 0.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    font-size: 2rem;
    padding-bottom: 1rem;
}
main p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer {
    width: 100%;
    position : relative;
    bottom: 0%;
    left: 0%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
}

.footer p a{
    color: gray;
    text-decoration: none;
    bottom: 0%;
}

.btn {
    background-color: red;
    color: white;
    margin-top: 1rem;
    padding: 5px;
    border: none;
}


