.hamburger-icon {
    display: none;
  }

  .menu a {
    text-decoration: none;
  }
  
  @media (max-width: 768px) {
    .hamburger-icon {
      display: block;
      cursor: pointer;
    }

    .menu {
      display: none;
    }

    .menu.active {
      display: flex;
      flex-direction: column;
    }
  }
  