.container {
    margin: 0 auto;
    width: 80%;
}

.title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

.section-title{
    font-size: 1.5em;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #34495e;
}

.paragraph {
    margin-bottom: 15px;
    color: #7f8c8d;
}

/* Listas generales */

.list {
    padding-left: 20px;
    margin-bottom: 20px;
}

.list__item{
    margin-bottom: 10px;
}

/* Estilos específicos */

/* Lista con marcadores cuadrados */

.list--square{
    list-style-type: square ;
}

.list--roman{
    list-style-type: upper-roman;
}

.description-list{
    margin-left: 20px; /* Igual que las otras listas. */
    padding-left: 2rem;
    list-style-type: none;
}

.description-list__term{
    color: blue;
    font-weight: bolder; /* ¿No seria mejor ponerlo desde html? */
    margin-bottom: 5px;
    padding-left: 2rem;
    background-image: url(../img/flecha.png);
    background-position: 0 0;
    background-size: 1.4rem 1.3rem;
    background-repeat: no-repeat;
}

.description-list__definition{
    margin-top: 10px;
    margin-left: 15px;
    margin-bottom: 17px;
}